#/etc/systemd/system/mount_samba.service
#sudo systemctl daemon-reload
#sudo systemctl start mount_samba.service
#sudo systemctl enable mount_samba.service



[Unit]
Description=Montaggio automatico Samba
After=network.target

[Service]
ExecStart=/bin/bash /home/amministratore/Scaricati/auto_mount.sh  amministrazione ludovico 192.168.128.179
Restart=no                     # Non riavviare mai il servizio
Type=oneshot                   # Esegui solo una volta e termina
User=root
Group=root
WorkingDirectory=/mnt/samba

[Install]
WantedBy=multi-user.target      # Questo fa sì che venga eseguito all'avvio
